{% extends 'base.html' %}
{% block body %}
    <div class="container">
    <div class="row">
        {% for i in movie %}
        <div class="col-md-4">
            <div class=" shadow card" style="width: 18rem;">
                <br>
  <img  src="{{ i.img.url }}" alt="Card image cap" width="100px" height="100px">
  <div class="card-body">
    <h5 class="card-title">{{ i.name }}</h5>
    <p class="card-text">{{ i.desc }}</p>
    <a href="{% url 'movie:details' i.id %}" class="btn btn-primary">view details</a>
  </div>
</div>

        </div>
        {% endfor %}

    </div>

    </div>

{#    <a href={% url 'movie:details' i.id %}>{{ i.name }}</a>#}
{#<img src="{{ i.img.url }}" width="100" height="100">#}

{#   <div>{{ i.desc }}</div>#}

{% endblock %}